asgiref==3.12.1
certifi==2026.7.22
cffi==2.1.0
charset-normalizer==3.4.9
cloudinary==1.45.0
cryptography==49.0.0
Django==6.0.7
django-rest-framework==0.1.0
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
drf-yasg==1.21.15
idna==3.18
inflection==0.5.1
packaging==26.2
pycparser==3.0
PyMySQL==1.2.0
python-dotenv==1.2.2
pytz==2026.2
PyYAML==6.0.3
requests==2.34.2
six==1.17.0
sqlparse==0.5.5
typing_extensions==4.16.0
tzdata==2026.3
uritemplate==4.2.0
urllib3==2.7.0
waitress==3.0.2
whitenoise==6.12.0
